<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LESS_EXAMPLE</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet/less" type="text/css" href="style.less" />
    <link rel="stylesheet/less" type="text/css" href="style.css" />
    <!--<script src="//cdn.jsdelivr.net/npm/less"></script> -->
    <link href="~/less/style.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="owlcarousel/owl.theme.default.min.css">
    <link  rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
  


</head>
<body>
    <header> 
        <div class="row">
            <div class="col-md-2">
                <div class="sidenav">


                    <a href="#" class="behance">BEHANCE</a>
                    <a href="#" class="linkedin">LINKEDIN</a>
                    <div class="brand">
                        <h1>Nursena.</h1>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-10">
                <nav class="navbar transparent  navbar-expand-lg  fixed-top navbar-height ">
                    <div class="container-fluid">
                        <a class="navbar-brand navbar-brand mr-0 mr-md-5 brand-pos" href="#" style="text-align:left">CROPE.</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarResponsive">
                            <ul class="navbar-nav bd-navbar-nav flex-row first-nav">

                                <li class="nav-item nav-items">
                                    <a class="nav-link" href="#">Services</a>
                                </li>
                                <li class="nav-item nav-items">
                                    <a class="nav-link" href="#">Coses</a>
                                </li>
                                <li class="nav-item nav-items">
                                    <a class="nav-link" href="#">Contact Us</a>
                                </li>
                            </ul>
                            <div class=" second-nav">
                                <ul class="navbar-nav ml-auto">

                                    <li class="nav-item nav-items ">
                                        <a class="nav-link" href="#">+1 11215 15121 </a>
                                    </li>
                                    <li class="nav-item nav-items border-button ">
                                        <a class="nav-link " style="padding:10px;" href="#">Get a quote</a>
                                    </li>

                                </ul>
                            </div>


                        </div>
                    </div>
                </nav>

            </div>
        </div>


    </header>
    <div class=" container-fluid">
        

        @RenderBody()
       
        <div class="row">
            <div class="col-md-5">
                <div class="col-md-2">
              
                </div>
                <div class="col-md-3">
                    @*<div class="main-text">
                       <span class="main-span">Creative Ideas</span>
                    </div>*@

                    <div class="float-xl-right full-left">
                        <div class="align-items-xl-start">
                            
                            <label class="label-cre">CREATIVE IDEAS</label>
                        </div>
                        <div class="align-items-xl-start second-div">
                            <p class="craft-design">
                                Craft Design Solutions
                            </p>

                        </div>

                        <div class="align-items-xl-start third-div">
                            <p class="create-tech">We create new technologies for your business thanks</p>
                            <br />
                            <p class="create-tech"> to our wonderful team of professionals.</p>
                            
                        </div>

                        <div class="align-items-xl-start last-div">
                            <div class="circle-div">
                                <center>
                                    <i class="fas fa-play red-play"></i>
                                </center>

                            </div>
                            <div class="promotion-video">
                                <div class="about-us">
                                    <p class="about">ABOUT US</p>
                                </div>

                                <div class="red-text">
                                   <p class="promotion">Promotion video</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
     
            </div>
            <div class="col-md-7">
                <div id="carouselExampleIndicators" class="carousel slide carousel-pos" data-ride="carousel">
                    
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="~/img/index_background.png" alt="First slide" />
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="~/img/index_background.png" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="~/img/index_background.png" alt="Third slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev next-prev float-right" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next next-prev float-right" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <footer>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>-->
    <script src="jquery.min.js"></script>
    <script src="owlcarousel/owl.carousel.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
